  <div class="background">
  </div>
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title"><%= image_tag "Daily_prophet.gif", class: "logo"%></h1>
        <p class="lead blog-description"></p>
      </div>
      <div class="container">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>

  <div class='border'>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">Sirius Black ESCAPED!</h2>
              <%= video_tag "giphy.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>
          </div><!-- /.blog-post -->

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
             <%= render "application_nav" %>
          </div>
          
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>©2017 The Daily Prophet All charms reserved</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
</div>