  <div class="background">
  </div>
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title"><%= image_tag "Daily_prophet.gif", class: "logo"%></h1>
        <p class="lead blog-description"></p>
      </div>
      <div class="container">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search for...">
          <span class="input-group-btn">
            <button class="btn btn-secondary" type="button">Go!</button>
          </span>
        </div>
      </div>
    </div>

  <div class='border'>

    <div class="container">

      <div class="row">

        <div class="col-sm-8 blog-main">

          <div class="blog-post">
            <h2 class="blog-post-title">BLACK STILL AT LARGE!</h2><p> (6 August, 1993)</p>

              <%= video_tag "giphy.mp4", autoplay: :autoplay, loop: :loop, mute: :mute, class: "video" %>

              <p>Sirius Black, possibly the most infamous prisoner ever to be held in Azkaban fortress, is still eluding capture, the Ministry of Magic confirmed today. "We are doing all we can to recapture Black," said the Minister for Magic, Cornelius Fudge, this morning, "and we beg the magical community to remain calm." Fudge has been criticised by some members of the International Confederation of Wizards for informing the Muggle Prime Minister of the crisis. "Well, really, I had to, don't you know," said an irritable Fudge. "Black is mad. He's a danger to anyone who crosses him, magic or Muggle. I have the Prime Minister's assurance that he will not breathe a word of Black's true identity to anyone. And let's face it - who'd believe him if he did?" While Muggles have been told that Black is carrying a gun (a kind of metal wand that Muggles use to kill each other), the magical community lives in fear of a massacre like that of twelve years ago, when Black murdered thirteen people with a single curse.</p>
          </div><!-- /.blog-post -->

          <nav class="blog-pagination">
            <a class="btn btn-outline-primary" href="#">Older</a>
            <a class="btn btn-outline-secondary disabled" href="#">Newer</a>
          </nav>

        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
             <%= render "application_nav" %>
          </div>
          
      </div><!-- /.row -->

    </div><!-- /.container -->

    <footer class="blog-footer">
      <p>©2017 The Daily Prophet All charms reserved</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </footer>
</div>